[Desktop Entry]
Encoding=UTF-8
Name=KDiff3
Name[hi]=के-डिफ3
Name[sv]=Kdiff3
Name[x-test]=xxKDiff3xx
GenericName=Diff/Patch Frontend
GenericName[bg]=Интерфейс на Diff/Patch
GenericName[el]=Σύστημα υποστήριξης χρήστη για τα Diff/Patch
GenericName[es]=Interfaz para diff/patch
GenericName[et]=Võrdlemise ja liitmise rakendus
GenericName[fr]=Interface utilisateur pour Diff / Patch
GenericName[ga]=Comhéadan Diff/Patch
GenericName[gl]=Interface para Diff e Patch
GenericName[hi]=डिफ/पैच फ्रन्टएण्ड
GenericName[ja]=Diff/Patch フロントエンド
GenericName[km]=Diff/Patch ខាង​មុខ
GenericName[ko]=Diff/Patch 프론트엔드
GenericName[nds]=Böversiet för "diff" un "patch"
GenericName[nl]=Diff/Patch-hulpprogramma
GenericName[nn]=Motor for diff- og patch-filer
GenericName[pt]=Interface do Diff/Patch
GenericName[pt_BR]=Interface do Diff/Patch
GenericName[ro]=Interfață Diferențiere/Cîrpire
GenericName[sv]=Jämförelse- och programfixgränssnitt
GenericName[tr]=Diff/Patch Arayüzü
GenericName[uk]=Графічна оболонка Diff/Patch
GenericName[x-test]=xxDiff/Patch Frontendxx
GenericName[zh_CN]=Diff/Patch 前端
GenericName[zh_TW]=比較/修補程式前端介面
Exec=kdiff3 %i %m -caption "%c"
Icon=kdiff3
Type=Application
DocPath=kdiff3/index.html
Comment=A File And Directory Comparison And Merge Tool
Comment[bg]=Инструмент за сравняване и сливане на файлове и директории
Comment[el]=Ένα εργαλείο σύγκρισης και συγχώνευσης αρχείων και καταλόγων
Comment[es]=Una herramienta para comparar y mezclar archivos y carpetas
Comment[et]=Failide ja kataloogide võrdlemise ja liitmise tööriist
Comment[fr]=Un outil de comparaison et de fusion de fichiers et de dossiers
Comment[ga]=Uirlis a chuireann comhaid agus comhadlanna i gcomparáid agus a chumascann iad más gá
Comment[gl]=Unha ferramenta de comparación e fusión de ficheiros e cartafoles
Comment[hi]=फ़ाइल तथा डिरेक्ट्री तुलना करने व मिलाने का औजार
Comment[ja]=ファイルやディレクトリの比較/マージを行うツール
Comment[km]=ការ​ប្រៀបធៀប​ថត និង​ឯកសារ និង​ឧបករណ៌​បញ្ចូល​គ្នា
Comment[ko]=파일과 디렉터리 비교 및 병합 도구
Comment[nds]=En Warktüüch för't Verglieken un Tosamenföhren vun Dateien un Ornern
Comment[nl]=Hulpmiddel voor het vergelijken en samenvoegen van bestanden en mappen
Comment[nn]=Eit program for samanlikning og fletting av filer og mapper
Comment[pt]=Uma Ferramenta de Comparação e Junção de Ficheiros e Pastas
Comment[pt_BR]=Uma ferramenta de comparação e junção de arquivos e diretórios
Comment[ro]=Un instrument de comparare și unire a fișierelor și directoarelor
Comment[sv]=Ett jämförelseverktyg för fil- och katalogjämförelser
Comment[tr]=Bir Dosya Ve Klasör Karşılaştırma Ve Birleştirme Aracı
Comment[uk]=Інструмент для порівняння та з’єднання файлів та тек
Comment[x-test]=xxA File And Directory Comparison And Merge Toolxx
Comment[zh_CN]=一个文件和目录的比较和合并的工具
Comment[zh_TW]=一個檔案與目錄比較與合併的工具
Terminal=false
