[Desktop Entry]
Name=KDiff3Part
Name[et]=KDiff3 komponent
Name[hi]=के-डिफ3पार्ट
Name[sv]=Kdiff3-del
Name[x-test]=xxKDiff3Partxx
MimeType=text/x-diff;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkdiff3part
Type=Service
