[Desktop Entry]
Name=KDiff3Part
Name[bg]=KDiff3Part
Name[bs]=KDiff3Part
Name[ca]=KDiff3Part
Name[ca@valencia]=KDiff3Part
Name[cs]=KDiff3Part
Name[da]=KDiff3Part
Name[de]=KDiff3Part
Name[el]=KDiff3Part
Name[en_GB]=KDiff3Part
Name[es]=KDiff3Part
Name[et]=KDiff3 komponent
Name[fr]=KDiff3Part
Name[ga]=KDiff3Part
Name[gl]=KDiff3Part
Name[hi]=के-डिफ3पार्ट
Name[hne]=के-डिफ3पार्ट
Name[hu]=KDiff3Part
Name[it]=KDiff3Part
Name[ja]=KDiff3Part
Name[km]=KDiff3Part
Name[ko]=KDiff3Part
Name[ml]=കെഡിഫ്3ഭാഗം
Name[nb]=KDiff3Part
Name[nds]=KDiff3Part
Name[nl]=KDiff3Part
Name[nn]=KDiff3Part
Name[pl]=Moduł KDiff3
Name[pt]=KDiff3Part
Name[pt_BR]=KDiff3Part
Name[ro]=KDiff3Part
Name[ru]=KDiff3Part
Name[sv]=Kdiff3-del
Name[tr]=KDiff3Part
Name[uk]=KDiff3Part
Name[x-test]=xxKDiff3Partxx
Name[zh_CN]=KDiff3Part
Name[zh_TW]=KDiff3Part
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkdiff3part
Type=Service
