[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Compare/Merge Files/Directories with KDiff3
Name[bg]=Сравняване/Сливане на файлове/директории с KDiff3
Name[bs]=Poredi/Spoji datoteke/Direktorije sa KDiff3
Name[ca]=Compara/fusiona fitxers/directoris amb KDiff3
Name[ca@valencia]=Compara/fusiona fitxers/directoris amb KDiff3
Name[cs]=Porovnat/spojit soubory/adresáře pomocí KDiff3
Name[da]=Sammenlign/sammenflet filer/mapper med KDiff3
Name[de]=Dateien und Ordner vergleichen und zusammenführen mit KDiff3
Name[el]=Σύγκριση/Συγχώνευση αρχείων/καταλόγων με το KDiff3
Name[en_GB]=Compare/Merge Files/Directories with KDiff3
Name[es]=Comparar/fusionar archivos/directorios con KDiff3
Name[et]=Failide/kataloogide võrdlemine/liitmine KDiff3-ga
Name[fr]=Comparaison / Fusion de fichiers / de dossiers à l'aide de KDiff3
Name[ga]=Cuir Comhaid/Comhadlanna i gComparáid agus Cumaisc iad le KDiff3
Name[gl]=Compara e fusionar ficheiros e cartafoles con KDiff3
Name[hi]=केडिफ़३ के साथ तुलना करें/मिलाएं फ़ाइलें/डिरेक्ट्रीज़
Name[hne]=केडिफ३ के साथ तुलना करव/मिलाव फाइल/डिरेक्टरीज मन ल
Name[hu]=Fájlok/Könyvtárat KDiff3-mal való összehasonlítása/egyesítése
Name[it]=Confronta o fondi file e cartelle con KDiff3
Name[ja]=KDiff3 でファイルやディレクトリを比較/マージ
Name[km]=ប្រៀបធៀប/បញ្ចូល​ឯកសារ​ចូល​គ្នា/ថត​ជាមួយ KDiff3
Name[ko]=KDiff3으로 파일과 디렉터리를 비교하거나 병합합니다
Name[ml]=ഫയലുകള്‍/അറകള്‍ താരതമ്യം ചെയ്യുക/കെഡിഫ്3 ഉപയോഗിച്ചു് ലയിപ്പിക്കുക
Name[nb]=Samenlikne/flette filer/mapper med KDiff3
Name[nds]=Verglieken Tosamenföhren vun Dateien/Ornern mit KDiff3
Name[nl]=Bestanden/mappen vergelijken/samenvoegen met KDiff3
Name[nn]=Samanlikn/flett filer og mapper med KDiff3
Name[pl]=Porównaj/Scal pliki/katalogi przy pomocy KDiff3
Name[pt]=Comparar/Juntar os Ficheiros/Pastas com o KDiff3
Name[pt_BR]=Comparar/Mesclar arquivos/pastas com o KDiff3
Name[ro]=Compară/unește fișiere/directoare cu KDiff3
Name[ru]=Сравнение и объединение файлов и каталогов в KDiff3
Name[sv]=Jämför, sammanfoga filer, kataloger med Kdiff3
Name[tr]=KDiff3 ile Dosyaları/Klasörleri Karşılaştır/Birleştir
Name[uk]=Порівнюйте або з’єднуйте файли або теки з KDiff3
Name[x-test]=xxCompare/Merge Files/Directories with KDiff3xx
Name[zh_CN]=使用 KDiff3 比较/合并 文件/目录
Name[zh_TW]=用 KDiff3 比較/合併檔案與目錄
X-KDE-Library=kdiff3fileitemaction
X-KDE-Submenu=KDiff3
X-KDE-Submenu[bg]=KDiff3
X-KDE-Submenu[bs]=KDiff3
X-KDE-Submenu[ca]=KDiff3
X-KDE-Submenu[cs]=KDiff3
X-KDE-Submenu[da]=KDiff3
X-KDE-Submenu[de]=KDiff3
X-KDE-Submenu[el]=KDiff3
X-KDE-Submenu[es]=KDiff3
X-KDE-Submenu[et]=KDiff3
X-KDE-Submenu[fr]=KDiff3
X-KDE-Submenu[hu]=KDiff3
X-KDE-Submenu[it]=KDiff3
X-KDE-Submenu[nb]=KDiff3
X-KDE-Submenu[nds]=KDiff3
X-KDE-Submenu[nl]=KDiff3
X-KDE-Submenu[pl]=KDiff3
X-KDE-Submenu[pt]=KDiff3
X-KDE-Submenu[pt_BR]=KDiff3
X-KDE-Submenu[ru]=KDiff3
X-KDE-Submenu[sv]=Kdiff3
X-KDE-Submenu[uk]=KDiff3
X-KDE-Submenu[x-test]=xxKDiff3xx
X-KDE-Submenu[zh_TW]=KDiff3
ServiceTypes=KFileItemAction/Plugin,inode/directory
MimeType=application/octet-stream;
