[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Compare/Merge Files/Directories with KDiff3
Name[bg]=Сравняване/Сливане на файлове/директории с KDiff3
Name[cs]=Porovnat/spojit soubory/adresáře pomocí KDiff3
Name[de]=Dateien und Ordner vergleichen und zusammenführen mit KDiff3
Name[el]=Σύγκριση/Συγχώνευση αρχείων/καταλόγων με το KDiff3
Name[es]=Comparar/fusionar archivos/directorios con KDiff3
Name[et]=Failide/kataloogide võrdlemine/liitmine KDiff3-ga
Name[fr]=Comparer / Fusionner les fichiers / dossiers à l'aide de KDiff3
Name[ga]=Comhaid/Comhadlanna a Chur i gComparáid/a Chumasc le KDiff3
Name[gl]=Compara e fusionar ficheiros e cartafoles con KDiff3
Name[hi]=केडिफ़३ के साथ तुलना करें/मिलाएं फ़ाइलें/डिरेक्ट्रीज़
Name[ja]=KDiff3 でファイルやディレクトリを比較/マージ
Name[km]=ប្រៀបធៀប/បញ្ចូល​ឯកសារ​ចូល​គ្នា/ថត​ជាមួយ KDiff3
Name[ko]=KDiff3으로 파일과 디렉터리를 비교하거나 병합합니다
Name[nds]=Verglieken Tosamenföhren vun Dateien/Ornern mit KDiff3
Name[nl]=Bestanden/mappen vergelijken/samenvoegen met KDiff3
Name[nn]=Samanlikn/flett filer og mapper med KDiff3
Name[pt]=Comparar/Juntar os Ficheiros/Pastas com o KDiff3
Name[pt_BR]=Compara/Mescla Arquivos/Diretórios com KDiff3
Name[ro]=Compară/unește fișiere/directoare cu KDiff3
Name[sv]=Jämför, sammanfoga filer, kataloger med Kdiff3
Name[tr]=KDiff3 ile Dosyaları/Klasörleri Karşılaştır/Birleştir
Name[uk]=Порівнюйте або з’єднуйте файли або теки з KDiff3
Name[x-test]=xxCompare/Merge Files/Directories with KDiff3xx
Name[zh_CN]=使用 KDiff3 比较/合并 文件/目录
Name[zh_TW]=用 KDiff3 比較/合併檔案與目錄
X-KDE-Library=kdiff3fileitemaction
X-KDE-Submenu=KDiff3
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;
