[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Compare/Merge Files/Directories
Name[bg]=Сравняване/Сливане на файлове/директории
Name[el]=Σύγκριση/Συγχώνευση αρχείων/καταλόγων
Name[es]=Comparar/mezclar archivos/carpetas
Name[et]=Failide/kataloogide võrdlemine/liitmine
Name[fr]=Comparer / Fusionner les fichiers / dossiers
Name[ga]=Comhaid/Comhadlanna a Chur i gComparáid/a Chumasc
Name[gl]=Comparar e fusionar ficheiros e cartafoles
Name[hi]=तुलना करें/मिलाएं फ़ाइलें/डिरेक्ट्रीज़
Name[ja]=ファイルやディレクトリを比較/マージ
Name[km]=ប្រៀបធៀប/បញ្ចូល​ឯកសារ​ចូល​គ្នា/ថត
Name[ko]=파일과 디렉터리를 비교하거나 병합
Name[nds]=Verglieken/Tosamenföhren Dateien Ornern
Name[nl]=Bestanden/mappen vergelijken/samenvoegen
Name[nn]=Samanlikn/flett filer og mapper
Name[pt]=Comparar/Juntar os Ficheiros/Pastas
Name[pt_BR]=Compara/Mescla Arquivos/Diretórios
Name[ro]=Compară/unește fișiere/directoare
Name[sv]=Jämför, sammanfoga filer, kataloger
Name[tr]=Dosyaları/Klasörleri Karşılaştır/Birleştir
Name[uk]=Порівняння/З’єднання Файлів/Тек
Name[x-test]=xxCompare/Merge Files/Directoriesxx
Name[zh_CN]=比较/合并 文件/目录
Name[zh_TW]=比較/合併檔案與目錄
X-KDE-Library=libkdiff3plugin
ServiceTypes=KonqPopupMenu/Plugin,application/octet-stream,inode/directory
