<!DOCTYPE kpartgui>
<kpartgui name="kdiff3" version="0.6">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_new_window"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="go_top"/>
  <Action name="go_bottom"/>
  <Action name="go_prev_delta"/>
  <Action name="go_next_delta"/>
  <Action name="go_prev_conflict"/>
  <Action name="go_next_conflict"/>
  <Action name="choose_a"/>
  <Action name="choose_b"/>
  <Action name="choose_c"/>
</ToolBar>
</kpartgui>
