[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Compare/Merge Files/Directories
Name[bg]=Сравняване/Сливане на файлове/директории
Name[bs]=Poredi/Spoji datoteke/Direktorije
Name[ca]=Compara/fusiona fitxers/directoris
Name[ca@valencia]=Compara/fusiona fitxers/directoris
Name[cs]=Porovnat/spojit soubory/adresáře
Name[da]=Sammenlign/sammenflet filer/mapper
Name[de]=Dateien und Ordner vergleichen und zusammenführen
Name[el]=Σύγκριση/Συγχώνευση αρχείων/καταλόγων
Name[en_GB]=Compare/Merge Files/Directories
Name[es]=Comparar/fusionar archivos/directorios
Name[et]=Failide/kataloogide võrdlemine/liitmine
Name[fr]=Comparaison / Fusion de fichiers / de dossiers
Name[ga]=Cuir Comhaid/Comhadlanna i gComparáid agus Cumaisc iad
Name[gl]=Comparar e fusionar ficheiros e cartafoles
Name[hi]=तुलना करें/मिलाएं फ़ाइलें/डिरेक्ट्रीज़
Name[hne]=फाइल/डिरेक्टरीज मन ल तुलना करव / मिलाव
Name[hu]=Fájlok/Könyvtárak összehasonlítása/egyesítése
Name[it]=Confronta o fondi file e cartelle
Name[ja]=ファイルやディレクトリを比較/マージ
Name[km]=ប្រៀបធៀប/បញ្ចូល​ឯកសារ​ចូល​គ្នា/ថត
Name[ko]=파일과 디렉터리를 비교하거나 병합
Name[ml]=ഫയലുകള്‍/അറകള്‍ താരതമ്യം ചെയ്യുക/ലയിപ്പിക്കുക
Name[nb]=Samenlikne/flette filer/mapper
Name[nds]=Verglieken/Tosamenföhren Dateien Ornern
Name[nl]=Bestanden/mappen vergelijken/samenvoegen
Name[nn]=Samanlikn/flett filer og mapper
Name[pl]=Porównanie/Łączenie plików i katalogów
Name[pt]=Comparar/Juntar os Ficheiros/Pastas
Name[pt_BR]=Comparar/Mesclar arquivos/pastas
Name[ro]=Compară/unește fișiere/directoare
Name[ru]=Сравнение и объединение файлов и каталогов
Name[sv]=Jämför, sammanfoga filer, kataloger
Name[tr]=Dosyaları/Klasörleri Karşılaştır/Birleştir
Name[uk]=Порівняння/З’єднання Файлів/Тек
Name[x-test]=xxCompare/Merge Files/Directoriesxx
Name[zh_CN]=比较/合并 文件/目录
Name[zh_TW]=比較/合併檔案與目錄
X-KDE-Library=libkdiff3plugin
ServiceTypes=KonqPopupMenu/Plugin,application/octet-stream,inode/directory
