
[Desktop Entry]
Encoding=UTF-8
Name=KDiff3
Name[xx]=xxkdiff3xx
Exec=kdiff3 %i %m -caption "%c"
Icon=kdiff3
Type=Application
DocPath=kdiff3/kdiff3.html
Comment=A KDE KPart Application
Comment[hu]=KPart-alapú KDE-alkalmazás
Comment[pt_BR]=Um Aplicativo KPart do KDE
Comment[sv]=Ett KDE Kpart-program
Comment[xx]=xxA KDE KPart Applicationxx
Terminal=0
