[Desktop Entry]
Encoding=UTF-8
Name=KDiff3Part
MimeType=text/x-diff
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkdiff3part
Type=Service
