[Desktop Entry]
Encoding=UTF-8
Name=KDiff3Part
Name[pt_BR]=Componente KDiff3
Name[sv]=Kdiff3-del
Name[xx]=xxKDiff3Partxx
MimeType=text/x-diff
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkdiff3part
Type=Service
