[Desktop Entry]
Encoding=UTF-8
Name=KDiff3Part
Name[cs]=Komponenta KDiff3
Name[fr]=Composant KDiff3
Name[hi]=के-डिफ3पार्ट
Name[nb]=KDiff3-del
Name[pt_BR]=Componente KDiff3
Name[sv]=Kdiff3-del
Name[ta]=கேடிஃப்3 பகுதி
Name[tg]=ҚисмиKDiff3
Name[uk]=Комопнент KDiff3
Name[xx]=xxKDiff3Partxx
Name[zh_CN]=KDiff3 组件
MimeType=text/x-diff
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkdiff3part
Type=Service
