
[Desktop Entry]
Encoding=UTF-8
Name=KDiff3
Name[hi]=के-डिफ3
Name[sv]=Kdiff3
Name[ta]=கேடிஃப்3
Name[xx]=xxKDiff3xx
GenericName=Diff/Patch Frontend
GenericName[ar]=واجهة أمامية لبرامج Diff/Patch
GenericName[bg]=Интерфейс на Diff/Patch
GenericName[bs]=Interfejs za Diff/Patch
GenericName[ca]=Interfície per a diff/patch
GenericName[cs]=Rozhraní pro Diff/Patch
GenericName[cy]=Blaen Gwahaniaethau/Clytiau
GenericName[da]=Forende for diff/patch
GenericName[de]=Graphische Oberfläche zu Diff/Patch
GenericName[el]=Σύστημα υποστήριξης χρήστη για τα Diff/Patch
GenericName[es]=Interfaz Diff/Patch
GenericName[et]=Võrdlemise ja liitmise rakendus
GenericName[fr]=Interface graphique à diff / patch
GenericName[ga]=Comhéadan Diff/Patch
GenericName[gl]=Interface para Diff/Patch
GenericName[hi]=डिफ/पैच फ्रन्टएण्ड
GenericName[hu]=Grafikus diff/patch
GenericName[is]=Diff/Patch viðmót
GenericName[it]=Interfaccia per diff/patch
GenericName[ja]=Diff/Patch フロントエンド
GenericName[lt]=Diff/Patch naudotojo sąsaja
GenericName[ms]=Bahagian Depan Beza/Tampal
GenericName[nb]=Endrings-/lappeprogram
GenericName[nl]=Een schil voor Diff/Patch
GenericName[pa]=Diff/Patch ਮੁੱਖ
GenericName[pl]=Interfejs do programów Diff/Patch
GenericName[pt]=Interface do Diff/Patch
GenericName[pt_BR]=Interface do Diff/Patch
GenericName[ru]=Графический интерфейс к Diff и Patch
GenericName[sk]=Rozhranie pre diff/patch
GenericName[sr]=Интерфејс за diff и patch
GenericName[sr@Latn]=Interfejs za diff i patch
GenericName[sv]=Jämförelse- och programfixgränssnitt
GenericName[ta]= Diff/Patch Frontend
GenericName[tg]=Интерфейси графикӣ ба Diff ва Patch
GenericName[tr]=Diff/Patch Arayüzü
GenericName[uk]=Інтерфейс до diff/patch
GenericName[xx]=xxDiff/Patch Frontendxx
GenericName[zh_CN]=Diff/Patch 前端
GenericName[zu]=Diff/PatchIsiqalo sokugcina
Exec=kdiff3 %i %m -caption "%c"
Icon=kdiff3
Type=Application
DocPath=kdiff3/index.html
Comment=A File And Directory Comparison And Merge Tool
Comment[ar]=أداة مقارنة  و دمج ملفات و دلائل (مجلًدات )
Comment[bg]=Инструмент за сравняване и сливане на файлове и директории
Comment[bs]=Alat za upoređivanje i spajanje datoteka i direktorija
Comment[ca]=Una eina per a comparar i fusionar fitxers o directoris
Comment[cs]=Nástroj pro porovnávání a slučování souborů a adresářů
Comment[da]=Et indfletningsværktøj for filer og mapper
Comment[de]=Programm zum Vergleichen und Zusammenführen von Dateien und Ordnern
Comment[el]=Ένα εργαλείο σύγκρισης και συγχώνευσης αρχείων και καταλόγων
Comment[es]=Una herramienta para mezclar y comparar archivos y directorios
Comment[et]=Failide ja kataloogide võrdlemise ja liitmise tööriist
Comment[fr]=Un outil de comparaison et de fusion de fichiers et dossiers
Comment[ga]=Uirlis a chuireann comhaid agus comhadlanna i gcomparáid agus a chumascann iad más gá
Comment[gl]=Comparazón e Unificazón de Ficheiros e Cartafoles
Comment[hi]=एक फाइल तथा डिरेक्ट्री तुलना तथा विलीन उपकरण
Comment[hu]=Segédprogram fájlok, könyvtárak összehasonlításához
Comment[is]=Skráa og möppu samanburðar og sameiningartól
Comment[it]=Uno strumento di confronto e unione di file e directory
Comment[ja]=ファイル/ディレクトリの比較/統合ツール
Comment[ka]=ფაილთა და საქაღალდეთა შედარების და შერწყმის ხელსაწყო
Comment[ms]=Perbandingan Fail Dan Direktori Dan Alatan Gabungan
Comment[nb]=Et verktøy for å sammenlikne og slå sammen filer og mapper
Comment[nl]=Hulpmiddel voor het vergelijken en samenvoegen van bestanden en mappen
Comment[pa]=ਇੱਕ ਫਾਇਲ ਅਤੇ ਡਾਇਰੈਕਟਰੀ ਤੁਲਨਾ ਅਤੇ ਮਿਲਾਨ ਸੰਦ ਹੈ
Comment[pl]=Narzędzie do porównywania oraz łączenia plików i katalogów
Comment[pt]=Uma Ferramenta de Comparação e Junção de Ficheiros e Pastas
Comment[pt_BR]=Uma Ferramenta de Comparação e Junção de Arquivos e Diretórios
Comment[ru]=Утилита сравнения и объединения файлов и каталогов
Comment[sk]=Nástroj pre porovnanie a spájanie súborov a priečinkov
Comment[sr]=Алат за поређење и стапање фајлова и директоријума
Comment[sr@Latn]=Alat za poređenje i stapanje fajlova i direktorijuma
Comment[sv]=Ett jämförelseverktyg för fil- och katalogjämförelser
Comment[tg]=Асбоби баробаркунӣ ва пайванди файлҳо ва каталогҳо
Comment[tr]=Bir Dosya Ve Klasör Karşılaştırma Ve Birleştirme Aracı
Comment[uk]=Засіб-утиліта для порівняння і поєднання файлів та каталогів
Comment[xx]=xxA File And Directory Comparison And Merge Toolxx
Comment[zh_CN]=一个文件和目录的比较及合并工具
Terminal=false
