[Desktop Entry]
Name=KDiff3Part
Name[bg]=KDiff3Part
Name[bs]=KDiff3Part
Name[ca]=Part del KDiff3
Name[ca@valencia]=Part de KDiff3
Name[cs]=KDiff3Part
Name[da]=KDiff3Part
Name[de]=KDiff3-Komponente
Name[el]=KDiff3Part
Name[en_GB]=KDiff3Part
Name[es]=KDiff3Part
Name[et]=KDiff3 komponent
Name[eu]=KDiff3Part
Name[fi]=KDiff3Part
Name[fr]=Partie de KDiff3
Name[ga]=KDiff3Part
Name[gl]=KDiff3Part
Name[hi]=के-डिफ3पार्ट
Name[hne]=के-डिफ3पार्ट
Name[hu]=KDiff3Part
Name[ia]=KDiff3Part
Name[id]=KDiff3Part
Name[it]=KDiff3Part
Name[ka]=KDiff3Part
Name[km]=KDiff3Part
Name[ko]=KDiff3Part
Name[lt]=KDiff3Part
Name[ml]=കെഡിഫ്3ഭാഗം
Name[mr]=के-डिफ3-पार्ट
Name[nds]=KDiff3Part
Name[nl]=KDiff3Part
Name[pl]=Moduł KDiff3
Name[pt]=KDiff3Part
Name[pt_BR]=KDiff3Part
Name[ro]=KDiff3Part
Name[ru]=KDiff3Part
Name[sk]=KDiff3Part
Name[sl]=KDiff3Part
Name[sr]=К‑диф3 део
Name[sr@ijekavian]=К‑диф3 део
Name[sr@ijekavianlatin]=KDiff3 deo
Name[sr@latin]=KDiff3 deo
Name[sv]=Kdiff3-del
Name[ug]=KDiff3Part
Name[uk]=KDiff3Part
Name[x-test]=xxKDiff3Partxx
Name[zh_CN]=KDiff3Part
Name[zh_TW]=KDiff3Part
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
MimeType=text/x-patch;
X-KDE-Library=kf5/parts/kdiff3part
Type=Service
X-KDE-PluginInfo-Name=KDiff3Part
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Description= A KPart for displaying diffs
X-KDE-PluginInfo-Authors=Joachim Eibl;Michael Reeves
X-KDE-PluginInfo-Emails=joachim.eibl at gmx.de;reeves.87@gmail.com
X-KDE-PluginInfo-Version=1.10.6

