[Desktop Entry]
Name=KDiff3
Name[be]=KDiff3
Name[bg]=KDiff3
Name[bs]=KDiff3
Name[ca]=KDiff3
Name[ca@valencia]=KDiff3
Name[cs]=KDiff3
Name[da]=KDiff3
Name[de]=KDiff3
Name[el]=KDiff3
Name[en_GB]=KDiff3
Name[es]=KDiff3
Name[et]=KDiff3
Name[fr]=KDiff3
Name[ga]=KDiff3
Name[gl]=KDiff3
Name[hi]=के-डिफ3
Name[hne]=के-डिफ3
Name[hr]=KDiff3
Name[hu]=KDiff3
Name[it]=KDiff3
Name[ja]=KDiff3
Name[km]=KDiff3
Name[ko]=KDiff3
Name[ml]=കെഡിഫ്3
Name[nb]=KDiff3
Name[nds]=KDiff3
Name[nl]=KDiff3
Name[nn]=KDiff3
Name[pl]=KDiff3
Name[pt]=KDiff3
Name[pt_BR]=KDiff3
Name[ro]=KDiff3
Name[ru]=KDiff3
Name[sv]=Kdiff3
Name[tr]=KDiff3
Name[uk]=KDiff3
Name[x-test]=xxKDiff3xx
Name[zh_CN]=KDiff3
Name[zh_TW]=KDiff3
GenericName=Diff/Patch Frontend
GenericName[bg]=Интерфейс на Diff/Patch
GenericName[bs]=Prikaz za Diff/Patch
GenericName[ca]=Frontal de Diff/Patch
GenericName[ca@valencia]=Frontal de Diff/Patch
GenericName[cs]=Rozhraní pro Diff/Patch
GenericName[da]=Brugerflade til diff/patch
GenericName[de]=Grafische Oberfläche zu Diff/Patch
GenericName[el]=Σύστημα υποστήριξης χρήστη για τα Diff/Patch
GenericName[en_GB]=Diff/Patch Frontend
GenericName[eo]=Fasado por la programoj "diff" kaj "patch"
GenericName[es]=Interfaz para diff/patch
GenericName[et]=Võrdlemise ja liitmise rakendus
GenericName[fr]=Interface pour Diff / Patch
GenericName[ga]=Comhéadan Diff/Patch
GenericName[gl]=Interface para Diff e Patch
GenericName[hi]=डिफ/पैच फ्रन्टएण्ड
GenericName[hne]=डिफ/पैच फ्रन्टएन्ड
GenericName[hu]=Diff/Patch Frontend
GenericName[it]=Interfaccia per i comandi diff e patch
GenericName[ja]=Diff/Patch フロントエンド
GenericName[km]=Diff/Patch ខាង​មុខ
GenericName[ko]=Diff/Patch 프론트엔드
GenericName[ml]=ഡിഫ്/പാച്ച് പുരോഭാഗം
GenericName[nb]=Diff-/Patch-grensesnitt
GenericName[nds]=Böversiet för "diff" un "patch"
GenericName[nl]=Diff/Patch-hulpprogramma
GenericName[nn]=Motor for diff- og patch-filer
GenericName[pl]=Interfejs do Diff/Patch
GenericName[pt]=Interface do Diff/Patch
GenericName[pt_BR]=Interface do diff/patch
GenericName[ro]=Interfață Diferențiere/Cîrpire
GenericName[ru]=Графический интерфейс Diff/Patch
GenericName[sv]=Jämförelse- och programfixgränssnitt
GenericName[tr]=Diff/Patch Arayüzü
GenericName[uk]=Графічна оболонка Diff/Patch
GenericName[x-test]=xxDiff/Patch Frontendxx
GenericName[zh_CN]=Diff/Patch 前端
GenericName[zh_TW]=比較/修補程式前端介面
Exec=kdiff3 %i -caption "%c"
Icon=kdiff3
Type=Application
X-DocPath=kdiff3/index.html
Comment=A File And Directory Comparison And Merge Tool
Comment[bg]=Инструмент за сравняване и сливане на файлове и директории
Comment[bs]=Alat za poređenje i spajanje direktorija i datoteka
Comment[ca]=Una eina de comparació i fusió de fitxer i directori
Comment[ca@valencia]=Una eina de comparació i fusió de fitxer i directori
Comment[cs]=Nástroj pro porovnávání a slučování souborů a adresářů
Comment[da]=Et værktøj til sammenfletning og sammenligning af filer og mapper
Comment[de]=Programm zum Vergleichen und Zusammenführen von Dateien und Ordnern
Comment[el]=Ένα εργαλείο σύγκρισης και συγχώνευσης αρχείων και καταλόγων
Comment[en_GB]=A File And Directory Comparison And Merge Tool
Comment[es]=Una herramienta para comparar y fusionar archivos y directorios
Comment[et]=Failide ja kataloogide võrdlemise ja liitmise tööriist
Comment[fr]=Un outil de comparaison et de fusion de fichiers et de dossiers
Comment[ga]=Uirlis a chuireann comhaid agus comhadlanna i gcomparáid agus a chumascann iad más gá
Comment[gl]=Unha ferramenta de comparación e fusión de ficheiros e cartafoles
Comment[hi]=फ़ाइल तथा डिरेक्ट्री तुलना करने व मिलाने का औजार
Comment[hne]=फाइल अउ डिरेक्टरी तुलना करे अउ मिलाय के औजार
Comment[hu]=Egy fájl és könyvtár összehasonlítási és egyesítési eszköz
Comment[it]=Uno strumento di confronto e fusione di file e cartelle
Comment[ja]=ファイルやディレクトリの比較/マージを行うツール
Comment[km]=ការ​ប្រៀបធៀប​ថត និង​ឯកសារ និង​ឧបករណ៌​បញ្ចូល​គ្នា
Comment[ko]=파일과 디렉터리 비교 및 병합 도구
Comment[ml]=ഫയലും അറകളും താരതമ്യം ചെയ്യാനും ലയിപ്പിക്കാനുമുള്ള ഒരു ആയുധം
Comment[nb]=Et verktøy for å sammelnlikne og flette filer og mapper
Comment[nds]=En Warktüüch för't Verglieken un Tosamenföhren vun Dateien un Ornern
Comment[nl]=Hulpmiddel voor het vergelijken en samenvoegen van bestanden en mappen
Comment[nn]=Eit program for samanlikning og fletting av filer og mapper
Comment[pl]=Narzędzie do porównywania i łączenia plików i katalogów
Comment[pt]=Uma Ferramenta de Comparação e Junção de Ficheiros e Pastas
Comment[pt_BR]=Uma ferramenta de comparação e junção de arquivos e pastas
Comment[ro]=Un instrument de comparare și unire a fișierelor și directoarelor
Comment[ru]=Инструмент для сравнения и объединения файлов и каталогов
Comment[sv]=Ett jämförelseverktyg för fil- och katalogjämförelser
Comment[tr]=Bir Dosya Ve Klasör Karşılaştırma Ve Birleştirme Aracı
Comment[uk]=Інструмент для порівняння та з’єднання файлів та тек
Comment[x-test]=xxA File And Directory Comparison And Merge Toolxx
Comment[zh_CN]=一个文件和目录的比较和合并的工具
Comment[zh_TW]=一個檔案與目錄比較與合併的工具
Terminal=false
Categories=Qt;KDE;Development;
