[Desktop Entry]
Name=KDiff3
GenericName=Diff/Patch Frontend
Exec=kdiff3
Icon=kdiff3
Type=Application
X-DocPath=kdiff3/index.html
Comment=A File And Directory Comparison And Merge Tool
Terminal=false
Categories=Qt;KDE;Development;
