[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Compare/Merge Files/Directories with KDiff3
Icon=kdiff3
X-KDE-ParentApp=konqueror
#DocPath=konq-plugins/kdiff3plugin/index.html