[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Compare/Merge Files/Directories
X-KDE-Library=libkdiff3plugin
ServiceTypes=KonqPopupMenu/Plugin,all/all
